<template>
  <div class="loading">loading</div>
</template>

<script>
export default {

}
</script>

<style>
    .loading{
        text-align: center;
        vertical-align: middle;
        line-height: 10rem;
        width: 10rem;
        height: 10rem;
        margin: auto;
        padding-top: 10rem;
    }
</style>