<template>
  <p class="product__price">{{priceDecimal}}</p>
</template>

<script>
export default {
    name: 'Price',
    props:{
        price: Number,
    },
    computed:{
        priceDecimal: function(){
            return Number.parseFloat(this.price/100).toFixed(2);
        }
    }
}
</script>

<style>

</style>