<template>
  <div class="product" v-on:click="$emit('selected', product._id)">
      <img :src="product.imageUrl" class="product__img">
        <div class="infos">
            <h2 class="product__name">{{product.name}}</h2>
            <price :price="product.price"/>
        </div>
  </div>
</template>

<script>
import Price from './price.vue'
export default {
    name: 'Product',
    components:{
        Price
    },
    props: {
        product:{
        _id: String,
        name: String,
        price: Number,
        description: String,
        imageUrl: String,
        colors: Array,
        }
        
    },
   methods:{
       selected(){
           console.log('ok')
       }
   }
}
</script>

<style lang="scss">
    .product{
        width: 100%;
        max-width: 700px;
        display: flex;
        margin: auto;
        &__img{
            width: 250px;
        }
        &__infos{
           display: flex; 
           flex-direction: column;
        }
    }
</style>