<template>
  <div class="product-detail">
      <img :src="product.imageUrl" class="product__img">
        <div class="infos">
            <h2 class="product__name">{{product.name}}</h2>
            <price :price="product.price"/>
            <p class="product__description">{{product.description}}</p>
            <select v-model="selected" class="product__colors">
                    <option v-for="color in product.colors" :value="color" :key="color">
                        {{ color }}
                    </option>
            </select>
        </div>
  </div>
</template>

<script>
import Price from './price.vue'
export default {
    name: 'ProductDetail',
    components:{
        Price
    },
    props: {
        product:{
        _id: String,
        name: String,
        price: Number,
        description: String,
        imageUrl: String,
        colors: Array,
        }
        
    },
   data() {
    return {
        selected:''
    }
   }
}
</script>

<style lang="scss">
    .product-detail{
        width: 100%;
        max-width: 700px;
        display: flex;
        margin: auto;
        &__img{
            width: 250px;
        }
        &__infos{
           display: flex; 
           flex-direction: column;
        }
    }
</style>