<template>
  <div id="products">
    <div v-on:click="showAll">Show all</div>
    <div v-if="loading" :key="loading" class="loading"><loading /></div>
    <div v-else>
      <div v-if="!selected">
        <div v-for="product in products" :key="product._id" >
          <product @selected="getOneProduct" :product="product"></product>
        </div>
      </div>
      <div v-else>
          <ProductDetail :product="productSelected" />
      </div>
    </div>
  </div>
</template>

<script>
import axios from "axios";
import product from "./product.vue";
import Loading from "./loading.vue";
import ProductDetail from "./productDetail.vue"
export default {
  name: "Products",
  components: {
    product,
    Loading,
    ProductDetail,
  },
  data() {
    return {
      loading: true,
      serverUrl: "https://oc-p5-thonpair-production.herokuapp.com/api/teddies",
      products: [],
      selected: false,
      productSelected: []
    };
  },
  methods: {
    getAllProducts() {
      this.loading = true;
      axios
        .get(this.serverUrl)
        .then((response) => {
          this.products = response.data;
        })
        .catch((error) => {
          console.log(error);
          this.errored = true;
        })
        .finally(() => (this.loading = false));
    },
    getOneProduct(id) {
            this.loading = true;
      axios
        .get(this.serverUrl+'/'+id)
        .then((response) => {
          this.selected = true;
          this.productSelected = response.data;
        })
        .catch((error) => {
          console.log(error);
          this.errored = true;
        })
        .finally(() => (this.loading = false));
    },
  showAll(){
      this.selected = false;
      this.getAllProducts();
  }
  },

  mounted() {
    this.showAll();
  },
};
</script>

<style>
</style>