<template>
  <div id="app">
    <products />
  </div>
</template>

<script>
import products from "./components/products.vue"

export default {
  name: 'App',
  components: {
      products
    },
}


</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
